<% include partials/navbar.ejs %>
    <div class="wrapper">
        <div class="main-panel">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid">
                    <a class="navbar-brand"> Account </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit Profile</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" placeholder="First Name" value="<%= fname %>">
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-1">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Last Name" value="<%= sname %>">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right" id="accountUpdate">Update Information</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <hr>
                                <div class="card-header">
                                    <h4 class="card-title">Change Account Details</h4>
                                    <br>
                                    <p class="card-category" style="text-align:center;">To change your account details click below and you will be directed to AppID. AppID is powered by IBM and will allow you to change your details through their interace. After, you will be redirected here.</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <button type="submit" class="btn btn-info btn-fill pull-right" onclick="showNotification(); return false;" style="text-align:center;"> Go to AppID </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="background-color: white; height: 300px;">
                            <div class="profile">
                                <div class="image">
                                    <div class="circle-1"></div>
                                    <div class="circle-2"></div>
                                    <img src="https://images.unsplash.com/photo-1536444894718-0021cbbeb45f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" width="100" height="100">
                                </div>

                                <h5 style="margin-top: 50px;" class="title"><%= fname %> <%= sname %></h5>
                                <br>
                                <p class="description">
                                    <%= name %>/<%= email %>
                                </p>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                       width="40px" height="30px"
                                       viewBox="5 0 80 60">
                                      <path id="wave"
                                          fill="none"
                                          stroke="#262626"
                                          stroke-width="2"
                                          stroke-linecap="round">
                                      </path>
                                    </svg>
                                </div>
                            </div>

                            <div class="stats">
                                <div class="box box1 hvr-underline-from-right">
                                    <span class="value">523</span>
                                    <span class="parameter">Topics Searched</span>
                                </div>
                                <div class="box box2 hvr-underline-from-right">
                                    <span class="value">1387</span>
                                    <span class="parameter">Sentences Spoken</span>
                                </div>
                                <div class="box box3 hvr-underline-from-right">
                                    <span class="value">146</span>
                                    <span class="parameter">Bookmarks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include partials/footer.ejs %>